pipeline/LOOKUP.json
{
	"name": "LOOKUP",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetCompanyName]",
						"storedProcedureParameters": {
							"pCustomerID": {
								"type": "Int32",
								"value": "277"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable10",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPANYNAME",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CompanyName",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.CompanyName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CompanyName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-01T23:12:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}